
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
    background: rgb(54, 52, 52);
    color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-wrap: wrap;
}

.block{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-flow: column;
    transition: all 0.3d ease-in-out;
    background-color: rgb(230, 120, 120);;
}

.block:hover{
    box-sizing: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.224);
    transform: scale(0.97);
}

span{
    color: #fff;
}

.day{
    font-size: 18px;
}

.number{
    font-size: 80px;
    font-weight: 500;
}