@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);


.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    overflow: hidden;
    background: rgb(205, 233, 243);
    color: #333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.tree {
    position: absolute;
    z-index: 2;
    top: 120px;
    left: 198px;
}

.tree .leafs {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    top: -50px;
    left: -80px;
    border-style: solid;
    border-width: 0 80px 200px 80px;
    border-color: transparent transparent #37a749 transparent;
    animation: horizontalScale 1s ease-in-out 0.7s both;
}


.tree .leafs:before {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 0;
    top: 0;
    left: -80px;
    border-style: solid;
    border-width: 0 0px 200px 81px;
    border-color: transparent transparent rgba(0, 0, 0, 0.2) transparent;
}



.tree .trunk {
    position: relative;
    width: 4px;
    height: 210px;
    background: #291d03;
    border-radius: 2px;
    transform-origin: 50% 100%;
    animation: verticalScale 0.7s ease-in-out both;
}

.tree .trunk .branch {
    position: absolute;
    width: 4px;
    height: 60px;
    background: #291d03;
    border-radius: 2px;
    transform-origin: 50% 100%;
}

.tree .trunk > .branch {
    transform: rotate(-45deg);
}

.tree .trunk > .branch:nth-child(2n) {
    transform: rotate(45deg);
}

.tree .trunk > .branch:nth-child(1) {
    top: 0px;
    height: 20px;
}

.tree .trunk > .branch:nth-child(2) {
    top: 20px;
    height: 30px;
}

.tree .trunk > .branch:nth-child(3) {
    top: 40px;
    height: 40px;
}

.tree .trunk > .branch:nth-child(4) {
    top: 60px;
    height: 50px;
}

.tree .trunk > .branch:nth-child(5) {
    top: 80px;
    height: 60px;
}

@keyframes horizontalScale {
    0% {
        transform: scaleX(0);
    }
    60% {
        transform: scaleX(1.1);
    }
    80% {
        transform: scaleX(0.95);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes verticalScale {
    0% {
        transform: scaleY(0);
    }
    60% {
        transform: scaleY(1.1);
    }
    80% {
        transform: scaleY(0.95);
    }
    100% {
        transform: scaleY(1);
    }
}